.news-list-item h2{}
.news-list-container { padding-top:1.5em;float:left;}
.news-list-item {margin-bottom:1.2em;border-bottom:1px solid #BBBBBB;padding-bottom:1.5em;position:relative;}
.news-list-item a img{ float:left;}
.news-list-item a{ font-weight:100;}
.news-list-item p{ margin-left:212px;}
.news-subinfo {margin:0.5em 0 0.9em;}
.news-subinfo span{ margin-left:0.5em; padding-left:0.5em; border-left:1px solid #aaa; float:left; color:#316481; line-height:12px;}
.news-subinfo span.first{ margin-left:0; padding-left:0; border-left:0;}
.news-single-img {float:left;margin-right:1em;}
.news-amenu-container {margin-top:-3px;}
.news-amenu-container .vnav li a{font-size:0.95em; font-weight:normal;}
.news-amenu-item-year {font-size:1.2em;border-bottom:#bbb 1px solid;padding-top:3px;}
.news-list-img{float:left; padding:4px 1em 0em 0em;}
.showResultsWrap {display:none;}
.news-single-additional-info{clear:both;}
.news-list-morelink{
	bottom:1em;
	position:absolute;
	right:0;
}

.browseLinksWrap,
.browseLinksWrap a{text-align:center;color:#316481;font-size:0.95em;}